@font-face {
    font-family: 'Futter Book';
    src: url("../assets/FutterGrotesk-Book.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futter Medium';
    src: url("../assets/FutterGrotesk-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Regular';
    src: url("../assets/NotoSansJP-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Medium';
    src: url("../assets/NotoSansJP-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --blur: blur(12px);
    --blurfine: blur(2px);
    --blursmalltext: blur(1px);
    --width: calc(100vw - 80px);
    --col-width: 30px;
    --p-small: 40px;
    --p-large: 80px;
    --p-xlarge: 160px;
}

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

body {
    margin: 0;
    width: 100vw;
    background-color: #ffffff;
    font-family: 'Futter Book', sans-serif;
    font-size: var(--fs-medium);
    line-height: var(--lh-medium);
    color: #000;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    hyphens: auto;
}

.button {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}

.button:hover {
    filter: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    filter: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.fs-h1 {
    font-size: calc(45px + (116 - 45) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(48px + (125 - 48) * ((100vw - 320px) / (1300 - 320)));
    /* padding-bottom: calc(var(--p-small)*4); */
}

.fs-h1-noto {
    font-family: 'Noto Regular', sans-serif;
    font-size: calc(45px + (116 - 45) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(48px + (125 - 48) * ((100vw - 320px) / (1300 - 320)));
    /* padding-bottom: calc(var(--p-small)*4); */
}

.fs-h2 {
    font-size: calc(23px + (64 - 23) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(22px + (62 - 22) * ((100vw - 320px) / (1300 - 320)));
    color: #fff;
    text-shadow: 2px 2px 20px rgba(100, 100, 100, 0.6);
}

.fs-h3 {
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(22px + (41 - 22) * ((100vw - 320px) / (1300 - 320)));
    max-width: 80%;
    margin: 0 auto;
}

.fs-h4 {
    font-family: 'Futter Medium';
    font-size: calc(11px + (15 - 11) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(12px + (16 - 12) * ((100vw - 320px) / (1300 - 320)));
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding-bottom: calc(var(--p-small)/10);
}

.fs-p-large {
    font-size: calc(12px + (26 - 12) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(15px + (32 - 15) * ((100vw - 320px) / (1300 - 320)));
}

.fs-p-medium {
    font-size: calc(12px + (23 - 12) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(13px + (27 - 14) * ((100vw - 320px) / (1300 - 320)));
}

.fs-p-small {
    font-size: 10px;
    line-height: 12px;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.blur {
    filter: var(--blurfine);
    -webkit-filter: var(--blurfine);
    transition: filter 0.8s;
}

.blurfine {
    filter: var(--blursmalltext);
    -webkit-filter: var(--blursmalltext);
    transition: filter 0.8s;
}

.padding-l {
    padding-bottom: var(--p-large);
}

.padding-s {
    padding-top: var(--p-small);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.blur:hover {
    filter: none;
    -webkit-filter: none;
    transition: filter 0.8s;
}

span {
    color: #A0A0A0;
}

/*--------------------------------------------------------------
# Overlay
--------------------------------------------------------------*/

.overlay {
    width: calc(100vw - calc(2* var(--col-width)));
    height: 100lvh;
    position: fixed;
    top: 0;
    left: var(--col-width);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.1);
    transition: display 0.4s;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.overlay-open {
    display: flex;
}

.overlay a:nth-child(1) {
    margin-right: 30px;
}

.overlay a img {
    width: 25vw;
    max-width: 60%;
}

.toggle-close {
    color: white;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1300 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1300 - 320)));
    letter-spacing: 1px;
    color: #fff;
    border: none;
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 6px 18px 5px 21px;
    z-index: 999;
    text-transform: uppercase;
    border-radius: 100px;
    width: auto;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Side Cols
--------------------------------------------------------------*/

header {
    z-index: 999;
}

.aside-left {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--col-width);
    height: 100lvh;
    background-color: white;
    z-index: 999;
}

.aside-right {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--col-width);
    height: 100lvh;
    background-color: white;
    z-index: 999;
}

.aside-left .desktop {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

.aside-right .desktop {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
}

.mobile {
    display: none;
}




/*--------------------------------------------------------------
# Section INTRO
--------------------------------------------------------------*/

main {
    position: relative;
    margin: 0 auto;
    width: calc(100vw - 80px);
}

footer {
    position: relative;
    width: calc(100vw - 88px);
    margin: var(--p-small) auto;
    text-align: left;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    padding: 0 var(--p-small);
}


.app {
    position: fixed;
    top: 70vh;
    left: 40px;
    width: var(--width);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: top 0.8s;
}

 .app.scrolled {
    top: 0vh;
    transition: top 0.8s;
}

.app img {
    min-width: 32vw;
    height: auto;
    max-height: 74vh;
    object-fit: contain;
    filter: var(--blur);
    -webkit-filter: var(--blur);
    transition: filter 0.8s;
    aspect-ratio: 9/16;

}

.app img.nofilter {
    filter: none;
    -webkit-filter: none;
    transition: filter 0.4s;
}

.app img:hover {
    filter: none;
    -webkit-filter: none;
}

.images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100vw;
}

.images img {
    /* max-width: 100vw;
    min-width: 49%; */
    height: 100vh;
    margin: 0 auto;
    object-fit: cover;
    /* float: left; */

}

.images.filter {
    filter: var(--blur);
    -webkit-filter: var(--blur);
    transition: filter 0.4s;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    position: relative;
    min-height: 40vh;
    padding: calc(2*var(--p-large)) 50px calc(1*var(--p-large));
}

.bg {
    background-color: white;
    -moz-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
    -ms-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
    box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
    z-index: 10;

}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}
.description > div {
    width: calc((100% - 32vw)/2);
}

.contributers,
.description,
.features,
.support {
    min-height: 100vh;
}

.support p {
    padding-bottom: calc(1.2* var(--p-large));
}

.film-index {
    width: calc(100% - 5%);
    max-width: 80svw;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    /* row-gap column gap */
}

div.video-titel-container {
    position: relative;
    width: 32%;
    display: flex;
    flex-direction: column;
}

.video-container {
    position: relative;
    overflow: hidden;
    /* padding-top: 180%; */
    /* padding-top: calc( 654.9 / 370.13 * 100%); */
    width: 100%;
    min-height: 53.75vh;
    height: 100vh;
    max-height: 74vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.mask {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    height: auto;
    max-height: 74vh;
    z-index: 3;
    pointer-events: none;
    border-radius: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.nobg {
    background: rgba(200, 200, 200, 0);
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    height: auto;
    max-height: 74vh;
    border: 0;
    outline: none;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    mix-blend-mode: multiply;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-52%);
    z-index: 9999999;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.glance-content {
    margin-top: var(--p-xlarge);
    padding: 0 50px calc(1*var(--p-large));
}

.glance-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    border: 1px solid black;

}

.left-box {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid black;
    padding: 2.5% 16vw 2.5% 2.5%;
}

.right-box-1 {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 1px solid black;
    padding: 2.5% 2.5% 2.5% 16vw;

}
.right-box-2 {
    grid-area: 2 / 2 / 3 / 3;
    /* border: 1px solid black; */
    padding: 2.5% 2.5% 2.5% 16vw;

}

.right-box-3 {
    grid-area:  2 / 1 / 3 / 2;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 2.5% 16vw 2.5% 2.5%;
}

.contributers-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contributer {
    width: calc(100%/3);
    padding: 15px;
}

.contributer-img-container {
    position: relative;
    padding-bottom: var(--p-small);
}

.contributer-img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    background: #E6E6E6;
    -moz-box-shadow: 0 0 30px 30px rgba(230, 230, 230, 1);
    -webkit-box-shadow: 0 0 30px 30px rgba(230, 230, 230, 1);
    -ms-box-shadow: 0 0 30px 30px rgba(230, 230, 230, 1);
    box-shadow: 0 0 30px 30px rgba(230, 230, 230, 1);
    border-radius: 50%;
    overflow: hidden;
}

.contributer-img img {
    object-fit: cover;
    margin: 0 auto;
}

.contributer-name {
    position: absolute;
    transform: translate(-50%,-68%);
    top: 50%;
    left: 50%;
    color: white;
}

.contributer-name:hover {
    filter: none;
    -webkit-filter: none;
}

footer .links a {
    display: inline;
    padding-right: 20px;
}

footer .links div {
    display: inline;
    cursor: pointer
}


footer .links div:hover {
    filter:none;
}



/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/

@media only screen and (min-width: 260px) and (max-width: 767px) {
    :root {
        --blur: blur(6px);
        --blurfine: blur(1.5px);
        --width: calc(100vw - 40px);
        --col-width: 17px;
    }

    main {
        width: calc(100vw - 80px);
    }

    .fs-h4 {
        letter-spacing: 0.5px;
        padding-bottom: 4px;
        font-size: 12px;
    }

    .fs-h3,
    .fs-p-large {
        font-size: 26px;
        line-height: 29px;
    }


    .fs-p-medium {
        font-size: 17px;
        line-height: 20px;
    }

    .aside-left {
        width: var(--col-width);
      
    }

    .aside-right {
        width: var(--col-width);

    }

    .desktop {
        display: none !important;
    }

.aside-left .mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

.aside-right .mobile {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
}

    .overlay-links {
        display: flex;
        flex-direction: column;
    }

    .overlay a:nth-child(1) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .overlay a img {
        width: 60%;
    }

    .app {
        left: 20px;
    }

    .app img {
        max-width: 70vw;
        height: auto;
        max-height: 70vh;
    }

    .images {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .w50 {
        width: 100%;
    }

    .w100 {
        width: 100vw;
    }

    .images img {
        /* max-width: 100vw;
        min-width: 49%; */
        height: 100vh;
        margin: 0 auto;
        object-fit: cover;
        /* float: left; */
    }

    section {
        padding: 0 0 var(--p-large);
    }

    .description,
    .glance-content {
        flex-direction: column;
        background-color: white;
        width: 100%;
        background-color: white;
        -moz-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
        -ms-box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
        box-shadow: 0 -5px 31px 46px rgba(255, 255, 255, 1);
        z-index: 10;
    }

    .description > div {
        width: 100%;

    }

    .glance {
        padding: 0 0 var(--p-small);

    }

    .glance-content {
        margin-top: 80vh;
        padding: 0 0 var(--p-large) 0;
    }

    .glance-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        text-align: left;
        border: 1px solid black;
    }

    .left-box {
        grid-area: 1 / 1 / 2 / 1;
        border-right: 0 solid black;
        border-bottom: 1px solid black;
        padding: 12px;
    }

    .right-box-1 {
        grid-area: 2 / 1 / 3 / 1;
        border-bottom: 1px solid black;
        padding: 12px;

    }
    .right-box-2 {
        grid-area: 3 / 1 / 4 / 1;
        /* border: 1px solid black; */
        padding: 12px;

    }
    .right-box-3 {
        grid-area: 4 / 1 / 5 / 1;
        border-top: 1px solid black;
        border-right: none;
        padding: 12px;
    }

    .cursor {
        display: none;
    }

    div.film-index {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }

    div.video-titel-container {
        width: 80%;
        margin: 0 auto var(--p-large);
    }

    .contributers-container {
        flex-direction: column;
    }

    .contributer {
        width: 100%;
        padding: 15px;

    }

    .support {
        min-height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    :root {
        --blur: blur(6px);
        --blurfine: blur(1.5px);
        --width: calc(100vw - 40px);
        --col-width: 17px;
    }

    main {
        width: calc(100vw - 80px);
    }

    .fs-h4 {
        letter-spacing: 0.5px;
        font-family: "Futter Medium";
    }

    .fs-h3,
    .fs-p-large {
        font-size: 26px;
        line-height: 29px;
    }

    .fs-p-medium {
        font-size: 17px;
        line-height: 20px;
    }

    .aside-left {
        width: var(--col-width);
        padding-left: 3px;
    }

    .aside-right {
        width: var(--col-width);
        padding-right: 0;
    }

    .aside-right h3 {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    .aside-left h3 {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .overlay-links {
        display: flex;
        flex-direction: column;
    }

    .overlay a:nth-child(1) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .overlay a img {
        width: 60%;
    }

    .app {
        left: 20px;
    }

    .app img {
        max-width: 48vw;
        height: auto;
        max-height: 48vh;
    }

    section {
    min-height: 40vh;
    padding: var(--p-large) 0 var(--p-large);
}


    .contributers, .description, .features, .support {
     min-height: auto; 
    }

    .film-index {
         flex-flow: row wrap;
         justify-content: center;
    }

    div.video-titel-container {
        width: 45% !important;
        margin: 0 10px 20px 10px;
    }

    .video-container {
    height: 57.75vh;
   }

   .glance-content {
    padding: 0 0 var(--p-large);
}

}
